
Package {{ .name | quote }} <<Kubernetes Cluster>>{
  args: {{ marshal .user.exec.args }}
 {{ if .nodes }}
   {{ range $i, $n := .nodes }}
      {{ template "node.tmpl" $n }}
   {{ end }}
 {{ end }}

}