#kubectl config view; for each if possible
node {{ .name | quote }} <<Kubernetes Cluster>>{
  args: {{ marshal .user.exec.args }}
 {{ if .namespaces }}
   {{ range $i, $n := .namespaces }}
      {{ template "namespaces.tmpl" $n }}
   {{ end }}
 {{ end }}
}