componant {{ .ObjectMeta.Name | quote }} <<Pod>> {
  {{ range $i, $c := .Spec.Containers }}
  {{if $i}}==={{end}}
    {{ if $c.Name }}{{ $c.Name }}{{ end }}
    ...
    {{ $c.Image }}
    ---
    Ports
    {{ range $idx, $p := $c.Ports }}
    {{ if $idx }}...{{end}}
      - {{ if $p.Name }}{{ $p.Name }}{{ end }}
        {{ if $p.ContainerPort }}port: {{ $p.ContainerPort }}{{ end }}
    {{ end }}
  {{ end }}
  {{ if .Spec.Volumes }}
  ===
    {{ range $i, $v := .Spec.Volumes }}
      name: {{ $v.Name }}
      {{ if $v.Secret }} secret: {{ $v.Secret.Name }}{{ end }}
      {{ if $v.ConfigMap }} configmap: {{ $v.ConfigMap.Name }}{{ end }}
    {{ end }}
  {{ end }}
}